<div class="modal fade" id="acquireModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center text-primary" id="myModalLabel">Acquiring Data</h4>
            </div>
            <div class="modal-body text-center">

                <p>If this is the first time you look for a summoner this might take a while.</p>

                <span style="font-size: 5.2em;" class='text-center glyphicon glyphicon-refresh spinning'></span>

            </div>
        </div>
    </div>
</div>