{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Jaime R. Viñas">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'home/css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'home/css/custom.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'home/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
</head>
<body>
{% include 'base.navbar.html' %}
{% block content %}{% endblock content %}
{% include 'base.footer.html' %}
<!-- jQuery -->
<script src="{% static 'home/js/jquery.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
</body>
</html>
