<h3>Send us a Message</h3>
<form  name="sentMessage" action="" id="contactForm" method="post">
    {% csrf_token %}
    <div class="control-group form-group">

        <label>Email Address:</label>
        <input type="email" class="form-control" name="contact_email" required>

    </div>
    <div class="control-group form-group">
        <label>Summoner name</label>
        <div class="input-group">
            <input name="contact_summoner_name" type="text" class="form-control" placeholder="(Optional)">
            <div class="input-group-btn">
                <select name="contact_region" class="btn btn-primary">
                    <optgroup label="Europe">
                        <option value="EUNE">EUNE</option>
                        <option value="EUW">EUW</option>
                        <option value="RU">RU</option>
                        <option value="TR">TR</option>
                    </optgroup>
                    <optgroup label="America">
                        <option value="NA">NA</option>
                        <option value="BR">BR</option>
                        <option value="LAN">LAN</option>
                        <option value="LAS">LAS</option>
                    </optgroup>
                    <optgroup label="Asia & Oceania">
                        <option value="JP">JP</option>
                        <option value="KR">KR</option>
                        <option value="OCE">OCE</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
    <div class="control-group form-group">
        <div class="controls">
            <label>Message:</label>
                <textarea rows="5" cols="100" class="form-control" name="contact_message" required
                          data-validation-required-message="Please enter your message" maxlength="999"
                          style="resize:none"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Send Message</button>
</form>
