<div id="statistics" class="content-section-a">
    <div  class="container">
        <h2>Statistics of {{ summoner.name }} with {{ champion.name }}</h2>

        {% if champion_data.games == 0 %}
            <div class="text-muted text-center">
                <br>
                <p> It looks like you haven't played any ranked game with {{ champion.name }}
                    yet.</p>
                <p> Go and play some! We'll be here when you come back.</p>
            </div>
        {% else %}
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#averages">Averages (per game)</a></li>
                <li><a data-toggle="tab" href="#totals">Totals</a></li>
            </ul>
            <div class="tab-content">
                <div id="averages" class="tab-pane active">
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-md-6 col-xs-8">Games</td>
                                <td class="text-muted">{{ champion_data.games }}</td>
                            </tr>
                            <tr>
                                <td>Wins/Losses</td>
                                <td class="text-muted">{{ champion_data.wins }} / {{ champion_data.losses }}</td>
                            </tr>
                            <tr>
                                <td>Kills</td>
                                <td class="text-muted">{{ champion_data_averages.kills|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>Deaths</td>
                                <td class="text-muted">{{ champion_data_averages.deaths|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>Assists</td>
                                <td class="text-muted">{{ champion_data_averages.assists|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>KDA</td>
                                <td class="text-muted">{{ champion_data.kda }}</td>
                            </tr>
                            <tr>
                                <td>CS</td>
                                <td class="text-muted">{{ champion_data_averages.cs_count|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>Largest killing spree</td>
                                <td class="text-muted">{{ champion_data.largest_killing_spree }}</td>
                            </tr>
                            <tr>
                                <td>Largest CS count</td>
                                <td class="text-muted">{{ champion_data.largest_cs_count }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-md-6 col-xs-8">First blood</td>
                                <td class="text-muted">{{ champion_data_averages.first_blood_count|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>Turrets destroyed</td>
                                <td class="text-muted">{{ champion_data_averages.turret_kills|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>Inhibitors destroyed</td>
                                <td class="text-muted">{{ champion_data_averages.inhibitor_kills|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>Wards placed</td>
                                <td class="text-muted">{{ champion_data_averages.wards_placed|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>Wards destroyed</td>
                                <td class="text-muted">{{ champion_data_averages.ward_kills|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>Pentakills</td>
                                <td class="text-muted">{{ champion_data_averages.penta_kills|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>Quadrakills</td>
                                <td class="text-muted">{{ champion_data_averages.quadra_kills|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>Triplekills</td>
                                <td class="text-muted">{{ champion_data_averages.triple_kills|floatformat:-2 }}</td>
                            </tr>
                            <tr>
                                <td>Double kills</td>
                                <td class="text-muted">{{ champion_data_averages.double_kills|floatformat:-2 }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div id="totals" class="tab-pane">
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-md-6 col-xs-8">Games</td>
                                <td class="text-muted">{{ champion_data.games }}</td>
                            </tr>
                            <tr>
                                <td>Wins/Losses</td>
                                <td class="text-muted">{{ champion_data.wins }} / {{ champion_data.losses }}</td>
                            </tr>
                            <tr>
                                <td>Kills</td>
                                <td class="text-muted">{{ champion_data.kills }}</td>
                            </tr>
                            <tr>
                                <td>Deaths</td>
                                <td class="text-muted">{{ champion_data.deaths }}</td>
                            </tr>
                            <tr>
                                <td>Assists</td>
                                <td class="text-muted">{{ champion_data.assists }}</td>
                            </tr>
                            <tr>
                                <td>KDA</td>
                                <td class="text-muted">{{ champion_data.kda }}</td>
                            </tr>
                            <tr>
                                <td>CS</td>
                                <td class="text-muted">{{ champion_data.cs_count }}</td>
                            </tr>
                            <tr>
                                <td>Largest killing spree</td>
                                <td class="text-muted">{{ champion_data.largest_killing_spree }}</td>
                            </tr>
                            <tr>
                                <td>Largest CS count</td>
                                <td class="text-muted">{{ champion_data.largest_cs_count }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-md-6 col-xs-8">First blood</td>
                                <td class="text-muted">{{ champion_data.first_blood_count }}</td>
                            </tr>
                            <tr>
                                <td>Turrets destroyed</td>
                                <td class="text-muted">{{ champion_data.turret_kills }}</td>
                            </tr>
                            <tr>
                                <td>Inhibitors destroyed</td>
                                <td class="text-muted">{{ champion_data.inhibitor_kills }}</td>
                            </tr>
                            <tr>
                                <td>Wards placed</td>
                                <td class="text-muted">{{ champion_data.wards_placed }}</td>
                            </tr>
                            <tr>
                                <td>Wards destroyed</td>
                                <td class="text-muted">{{ champion_data.ward_kills }}</td>
                            </tr>
                            <tr>
                                <td>Pentakills</td>
                                <td class="text-muted">{{ champion_data.penta_kills }}</td>
                            </tr>
                            <tr>
                                <td>Quadrakills</td>
                                <td class="text-muted">{{ champion_data.quadra_kills }}</td>
                            </tr>
                            <tr>
                                <td>Triplekills</td>
                                <td class="text-muted">{{ champion_data.triple_kills }}</td>
                            </tr>
                            <tr>
                                <td>Double kills</td>
                                <td class="text-muted">{{ champion_data.double_kills }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <form class="form" action="" method="post">
                {% csrf_token %}
                <div class="input-group pull-right col-xs-12 col-md-4">
                    <div class="input-group-addon">Compare {{ summoner.name }} with:</div>
                    <input class="form-control" type="text" name="summoner_b_name" placeholder="Summoner name">
                    <div class="input-group-btn">
                        <button class="btn-primary btn">Compare</button>
                    </div>
                </div>
            </form>

        {% endif %}
    </div>

</div>
