{% load staticfiles %}
<div id="header" class="header"
     style="background-image: url('{{ champion.skins.0.splash }}');">
    <div class="container">
        <div class="col-sm-6">
            <div class="intro-message ">
                {#                        champion name#}
                <h1>{{ champion.name }}</h1>
                <h3>{{ champion.title }}</h3>
                <hr class="intro-divider">
                <div class="col col-xs-12">
                    {% if  champion_data.mastery_level == 1%}
                        <img src="{% static 'home/img/champion_mastery_1.png' %}">
                    {% endif %}
                    {% if  champion_data.mastery_level == 2%}
                        <img src="{% static 'home/img/champion_mastery_2.png' %}">
                    {% endif %}
                    {% if  champion_data.mastery_level == 3%}
                        <img src="{% static 'home/img/champion_mastery_3.png' %}">
                    {% endif %}
                    {% if  champion_data.mastery_level == 4%}
                        <img src="{% static 'home/img/champion_mastery_4.png' %}">
                    {% endif %}
                    {% if  champion_data.mastery_level == 5%}
                        <img src="{% static 'home/img/champion_mastery_5.png' %}">
                    {% endif %}


                </div>
                <table class="table table-header">
                    <thead>
                        <td>SUMMONER:</td>
                        <td>{{ summoner.name }}</td>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-xs-6">Region:</td>
                        <td>{{ region }}</td>
                    </tr>
                    <tr>
                        <td>Mastery level:</td>
                        <td>{{ champion_data.mastery_level }}</td>
                    </tr>
                    <tr>
                        <td>Mastery points:</td>
                        <td>{{ champion_data.mastery_points }}</td>
                    </tr>
                    <tr>
                        <td>Highest grade achieved:</td>
                        <td>{{ champion_data.highest_grade }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>