{% extends 'base.navbar.html' %}

{% block menu_content %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="page-scroll" href="#mastery">Mastery</a>
        </li>
        <li>
            <a class="page-scroll" href="#statistics">Statistics</a>
        </li>
        <li>
            <a class="page-scroll" href="#related">Related Content</a>
        </li>
        <li>
            <a class="page-scroll" href="#contactForm">Contact Us</a>
        </li>
    </ul>
{% endblock %}